<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testcase</title>
</head>
<body>

<h4>all testcase</h4>

<div>
    <table width="95%" border="1" cellspacing="1" cellpadding="1" bgcolor="">

        <tr>
            <th>id</th>
            <th>test_case_code</th>
            <th>test_case_name</th>
            <th>test_case_type</th>
            <th>action</th>
            <th>data</th>
            <th>check_list</th>
            <th>操作</th>

        </tr>

        {%for item in data%}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.test_case_code}}</td>
                <td>{{item.test_case_name}}</td>
                <td>{{item.test_case_type}}</td>
                <td>{{item.tc_action}}</td>
                <td>{{item.tc_data}}</td>
                <td>{{item.tc_check_list}}</td>
                <td>
                        <form action='/tester/run/' method="post">{% csrf_token %}
                            <input type="hidden" name ='id' value="{{item.id}}">
                            <p><input type="submit" value="执行"></p>
                        </form>
                </td>
            </tr>

        {% endfor %}
    </table>
</div>
</body>
</html>